@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #f5f7fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font: inherit;
}
